
      <nav class="navbar fixed-top navbar-expand-lg bg-light">
        <div class="container">
          <a class="navbar-brand p-0  align-bottom" href="/">
            <img
        src="/images/small_logo.png"
        width="100"
        alt="Otto Logo"
      />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
            <ul class="navbar-nav">
             {{^authenticationMW}}
              <li class="nav-item m-1">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item m-1">
                <a class="nav-link" href="/account/register">Register</a>
              </li>
              
              <li class="nav-item m-1">
                <a class="nav-link" href="#HIW">How It Works</a>
              </li>
              <li class="nav-item m-1">
                <a class="nav-link" href="#contact-us">Contact Us</a>
              </li>
              {{/authenticationMW}}
              {{#authenticationMW}}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/customer/dashboard">Dashboard</a>
                </li>
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   
                      Welcome, {{firstName}}
                   
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Account Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/account/logout">Log Out</a></li>
                  </ul>
                
                </li>
              {{/authenticationMW}}
            </ul>
          </div>
        </div>
      </nav>
 