<html lang="en">
  <head>
    {{> header}}
  </head>
  <body>
    <!-- NAVBAR -->

    {{> menu}}

    <!-- MAIN SECTION -->

  <main class="container mt-4 py-5 ">
    <div class= "text-center">
       
        <h1>You rejected this offer.</h1>
        <a href="/customer/dashboard">Return to Dashboard</a>
    </div>
  </main>

    <!-- FOOTER -->

    {{> footer}}
  </body>
</html>
