<html lang="en">
  <head>
    <link href="/public/css/style.css" rel="stylesheet">
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTTO</title>
  </head>
  <body>

    <!-- NAVBAR -->
    
    <header>
      <nav class="navbar fixed-top navbar-expand-lg bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img
        src="/images/small_logo.png"
        width="50"
        alt="Otto Logo"
      />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/account/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">How It Works</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container mt-4 py-5">
      <div class="container g-0" >

        <!-- MAIN BANNER -->

        <div class="row px-0 mx-0 mt-4 mb-md-4 mb-sm-0">
          <div class="col-md-5 g-0 mb-0">
              <img src="images/logo.png" alt="" class="img-fluid d-none d-md-block" />
              <img src="/images/logo_thin.png" alt="" class="img-fluid d-md-none" />
            </div>

            <div class="col-md-7 g-0 mb-0">
              <!-- <img src="/public/images/nissan_gtr.jpg" alt="" class="img-fluid" style="height: 100%; object-fit: cover;" /> -->
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" style="height: 100%; object-fit: cover;" src="/images/audi_rs3.jpeg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" style="height: 100%; object-fit: cover;" src="/images/nissan_gtr.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" style="height: 100%; object-fit: cover;"src="/images/ford_bronco.jpg" alt="Third slide">
                  </div>
                </div>
              </div>
            </div>
        </div>

        <!-- LOG IN BANNER -->

        <div class="container bg-dark "> 
        <div class="row mb-sm-0">

          <div class="row pt-4 pb-0">
            <div class="d-flex justify-content-center">
              <h3 id="tagline" class="text-light fw-lighter text-center">
                Sit back, relax, and let OTTO find your next car.
              </h3>
            </div>
          </div>
        </div>

        <div class="row mb-0 pb-2 pt-0">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger mt-4 mb-3 rounded-0">
              LOG IN
            </button>
          </div>
        </div>

        </div>

          </main>

          <!-- FOOTER -->

          <footer class="footer fixed-bottom mt-auto mb-0 py-3 bg-light">
            <div class="container-fluid text-center">
              <span class="text-muted">Created with Bootstrap v5.2.0</span>
            </div>
          </footer>
          
          <!-- JavaScript Bundle with Popper -->
          <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
          crossorigin="anonymous"
          ></script>
        </body>
</html>
