<html lang="en">
<head>
    <link rel = "stylesheet" href = "/css/style.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BargainVIN</title>
</head>
<body>
    <div class="main-section">
        <h1>BargainVIN</h1>
        <h2>Sit back, relax, and get ready to buy a car.</h2>
        <a href="/account/login">Log In / Register</a>
    </div>
    
</body>
</html>