<html lang="en">
  <head>
    {{> header}}
  </head>
  <body>
    <!-- NAVBAR -->

    {{> menu}}

    <!-- MAIN SECTION -->
    
    <main class="container mt-4 py-5 d-flex justify-content-center">
      
      <div class="col-8 ">
        <div class="row mt-4">
          <img src="/images/logo_thin.png" alt="" class="img-fluid" />
        </div>
        <div class="row d-flex justify-content-center">
          <h3 class="mt-4 d-flex justify-content-center">Log In to Your Account</h3>
          <form method="POST" action="/account/login">
            
            <div class="form-group mt-4">
              <label for="exampleInputEmail1">Email Address:</label>
              <input type="email" class="form-control rounded-5 mt-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@email.com" name="email">
              
            </div>
            <div class="form-group mt-3">
              <label for="exampleInputPassword1">Password:</label>
              <input type="password" class="form-control rounded-5 mt-2" id="exampleInputPassword1" placeholder="password" name="password">
            </div>
            
            <div class="row mt-2">

              <div class="col-6">
  
                <button class="btn btn-danger mt-3 rounded-0 text-nowrap">Log In</button>       
  
  
              </div>
            </form>
              <div class="col-6 d-flex justify-content-end justify-text-end">
  
                <form method="GET" action="/account/register">
                  <!--<small id="register-msg" class="text-nowrap px-3 d-flex align-self-center">Don't have an account?</small> -->
                  <button class="btn btn-secondary mt-3 rounded-0 text-nowrap">Create an Account</button>
                </form>

                <!-- <a href="/account/register">Create an account</a> -->
              </div>
            </div>
            <p class="d-flex justify-content-center">
              {{ message }}
            </p>
        </div>
      </div>
      
    </main>

    <!-- FOOTER -->

    {{> footer}}
  </body>
</html>
