<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BargainVIN</title>
  </head>
  <body>
    <div class="main-section">
      <h1>BargainVIN</h1>
      <h3>Register for an account:</h3>
      <form method="POST" action="/account/register">
        <input type="text" placeholder="Desired username" name="username" />
        <input type="password" placeholder="Desired password" name="password" />
        <button>Register</button>
      </form>
      <a href="/account/login">Back to Log In</a>
      <p>
        {{message}}
      </p>
    </div>
  </body>
</html>
