    <html lang="en">
      <head>
       
        <!-- CSS only -->
         <link href="/css/request.css" rel="stylesheet"/>
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous"
        />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>OTTO</title>
      </head>
      <body>
        <!-- NAVBAR -->
    
        <header>
          <nav class="navbar fixed-top navbar-expand-lg bg-light">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="/images/small_logo.png" width="50" alt="Otto Logo" />
              </a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/account/register">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">How It Works</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </header>
    
        <!-- MAIN SECTION -->
        
        <main class="container mt-4 py-5 d-flex justify-content-center">
          
        
            <div class="row d-flex justify-content-center">
              <h3 class="mt-4 d-flex justify-content-center">Submit a Request</h3>
              

              

                <div class="row">
                  <div class="col-6">
                    <form method="POST" btn btn-danger mt-4 mb-3 rounded-5" action="/customer/request">
                    <div class="form-group mt-4 pb-4 justify-content-center">
                      <label > Make</label>
                      <select name="make" required>
                      <option value="" disabled selected hidden>Make</option>
                      <option>Lexus</option>
                      <option>Toyota</option>
                      <option>BMW</option>
                      <option>Mercedes</option>
                      <option>Honda</option>
                      <option>Jeep</option>
                      <option>Acura</option>
                      </select>
                    
                    </div>

                  </div>
                  <div class="col-6">
                    
                    <div class="form-group mt-4 justify-content-center">
                      <label required>Model:</label>
                      <input type="text" placeholder="Model" name="model">
                    </div>
                    
                  </div>
                </div>
                <div class="row">
                <div class="col-6">
                    <div class= "form-group mt-5 justify-content-center align-text-bottom">
                        <label>Year:</label>
                      <input type="number" min="1900" max="2023" step="1" value="2016" name="year"/>
                      </div>
                      
                    </div>
                    <div class="col-6">
                        
                        <div class="form-group mt-5 justify-content-center align-text-bottom">
                          <label > Color</label>
                          <select name="color" required>
                          <option value="" disabled selected hidden>Color</option>
                          <option>Black</option>
                          <option>Red</option>
                          <option>White</option>
                          <option>Gray</option>
                          <option>Blue</option>
                          <option>Navy</option>
                          <option>Silver</option>
                          </select>
                        
                        </div>

                      </div>
                </div>
                <div class="row">


                     {{! <div class="range"> }}
                            <div class="form-group mt-5">
                            <input type="range" class="form-range" value="10000" id="send" min="$1" max="100000" oninput="result.value = send.value" name="price"/>
                           <h5>Max Price:</h5>   
                           $<output id ="result">10000</output>
                           <div>
                            
                           
                            
                           
                          <div class="form-group mt-5">
                            <input type="range" class="form-range" value="10000" id="send2" min="1" max="100000" oninput="result2.value = send2.value" name="mileage"/>
                             <h5>Max Mileage</h5>
                            <output id= "result2">10000</output>
                            </div>
                            
                            
                            
                    </div>
                    </div>
               

    
                  <div class="col-6 justify-content-center">

                   
                    <input type="reset" class="btn btn-danger mt-4 mb-3 rounded-5" value="Reset">     
                     
                    <button class="btn btn-danger mt-4 mb-3 rounded-5">Submit Request</button>
                    </form>
      
                  </div>
                  {{message}}
                 
          </div>
        
        </main>
    
        <!-- FOOTER -->
    
        <footer class="footer fixed-bottom mt-auto mb-0 py-3 bg-light">
          <div class="container-fluid text-center">
            <span class="text-muted">Created with Bootstrap v5.2.0</span>
          </div>
        </footer>
    
        <!-- JavaScript Bundle with Popper -->
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
          crossorigin="anonymous"
        ></script>
      </body>
    </html>
    